<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Código de verificação: {{code}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <table class="container">
        <div class="mb-3 mt-3">
            <img src="https://res.cloudinary.com/dv8tkluw1/image/upload/c_scale,w_230/v1680145287/static/nutri-consultas_cvgc2q.png"
                alt="NutriConsultas+">

            <h5 class="text-center">Oi {{name}}! <br> Esse é o seu código de verificação para o reset de senha no
                <b>NutriConsultas+</b>:
            </h5>

            <h3 class="text-center my-5">{{code}}</h3>

            <p class="text-center ml-10 mr-10">Tudo que você precisa fazer é copiar esse código de confirmação e colar
                no
                nosso app
                pra completar o
                processo de verificação. <br>O código é válido durante 30 minutos.</p>
        </div>
    </table>
</body>

</html>